* {
  margin: 0;
}

div#root div {
  margin-top: 1rem;
  text-align: center;
}

div#name {
  max-width: 60vw;
  margin: auto;
}

hr {
    border: 1.5px solid;
    max-width: 60vw;
    position: relative;
    margin: 2rem auto;
}

div#education {
  max-width: 60vw;
  margin: auto;
}

div#work {
  max-width: 60vw;
  margin: auto;
}

div#work h1 {
  font-size: 1.5em;
}

div#work h2 {
  text-align: left;
}

div#work ul li {
  text-align: left;
}

div#work div {
  display: flex;
  justify-content: space-between;
}
